@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acumin+Pro:wght@400;500;600;700&display=swap');


:root{
    --primary-color: #daaa63;
    --secondary-color: #2C1810;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background: #F9F3EE;
    font-family: 'Montserrat', sans-serif;
    min-height: 200vh;
    width: 100vw;
    overflow-x: hidden;
}

html:has(#addDialog[open]){
  overflow: hidden;
}

.container {
  z-index: 1;
  perspective:3000px;
}

.container .book {
  position: relative;
  display: block;
  width: 200px;
  height: 275px;
  margin: 5% auto;
  border-radius: 1px 2px 2px 1px;
  background: linear-gradient(45deg,  #DAD5DC 0%, #f2ebf4 100%);
  font-family: acumin-pro, sans-serif;
  -webkit-box-shadow: 7px 7px 4px 0px rgba(151, 146, 153,0.6);
-moz-box-shadow: 7px 7px 4px 0px rgba(151, 146, 153,0.6);
box-shadow: 7px 7px 4px 0px rgba(151, 146, 153,0.6);
  font-weight: 400;
  color: #2b2b2b;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  transition: transform .5s;
}

.container .book:hover {
  -webkit-transform: rotate3d(0,1,0,35deg);
  -moz-transform: rotate3d(0,1,0,35deg);
  transform: rotate3d(0,1,0,35deg);
}

.container .book > div,
.container .front > div {
  display: block;
  position: absolute;
}


.container .front {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  transition: transform .5s;
  -webkit-transform: translate3d(0,0,20px);
  -moz-transform: translate3d(0,0,20px);
  transform: translate3d(0,0,20px);
  z-index: 10;
}

.container .front > div {
  width: 200px;
  height: 275px;
}

.container .left-side{
  width: 40px;
  left: -20px;
  height: 275px;
  background-color: rgba(232,229,234);
  -webkit-transform: rotate3d(0,1,0,-90deg);
  -moz-transform: rotate3d(0,1,0,-90deg);
  transform: rotate3d(0,1,0,-90deg);
}

.cover svg{
  position: absolute;
  top: 50%;
  left: 45%;
  margin-top: -75px;
  margin-left: -70px;
  width: 200px;
}

#eye-right {
  padding-left: 85px;
}


.author{
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  position: absolute;
  top: 225px;
  left: 20px;
  opacity: .8;
  }

  .book-title{
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    position: absolute;
    top: 205px;
    left: 20px;
    }
  

.container .front > div {
  border-radius: 0 3px 3px 0;
  box-shadow: 
    inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.container .front:after {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -1px;
  width: 1px;
}

.container .cover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 2px;
  background: rgba(0,0,0,0.1);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}


.container h2 {
  width: 275px;
  height: 10px;
  color: #2b2b2b;
  font-size: 20px;
  line-height: 40px;
  padding-right: 10px;
  text-align: right;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(90deg) translateY(-40px);
  -moz-transform: rotate(90deg) translateY(-40px);
  transform: rotate(90deg) translateY(-40px);
}

.cover {
 background: linear-gradient(45deg,  #DAD5DC 0%, #f2ebf4 100%);
}


.left-side h2 span:first-child {
  font-weight: 400;
  font-size: 10px;
  padding-right: 10px;
}

.left-side h2 span:last-child{
  font-family: acumin-pro, sans-serif;
  font-size: 10px;
  font-weight: bold;
} 