---

---

<dialog id="addDialog" class="flex flex-col items-center rounded-md w-80 h-96 bg-white shadow-md top-[20vh] left-[calc(50vw-10rem)] backdrop-filter">
    <form method="dialog" class="p-4 flex flex-col gap-2 h-full">
        <h1 class="text-lg text-center">Add your book</h1>
        <input class="rounded-md h-8 w-48 p-2 bg-amber-800/10" type="text" uxp-quiet="true" id="author" placeholder="Author" />
        <footer>
            <button id="cancel" type="reset" uxp-variant="primary">Cancel</button>
            <button id="confirm" type="submit" uxp-variant="cta">Add</button>
        </footer>
    </form>
</dialog>

<style>
    dialog::backdrop{
        backdrop-filter: blur(2px);
        transition: backdrop-filter 0.5s ease-in-out;
    }

    dialog[open]{
        animation: fadeIn 0.1s ease-in-out;
    }

    dialog.hide{
        animation: fadeOut 0.1s ease-in-out;
    }

    @keyframes fadeIn{
        from{
            opacity: 0;
            scale: 0;
        }
        to{
            opacity: 1;
            scale: 1;
        }
    }

    @keyframes fadeOut{
        from{
            opacity: 1;
            scale: 1;
        }
        to{
            opacity: 0;
            scale: 0;
        }
    }

</style>