---

---

<dialog id="addDialog" class="rounded-md w-80 h-96 bg-white shadow-md top-[20vh] left-[calc(50vw-10rem)] backdrop-filter">
    <form method="dialog">
        <h1>Add a book</h1>
        <label>
            <span>Author</span>
            <input type="text" uxp-quiet="true" id="author" placeholder="Author" />
        </label>
        <footer>
            <button id="cancel" type="reset" uxp-variant="primary">Cancel</button>
            <button id="confirm" type="submit" uxp-variant="cta">Add</button>
        </footer>
    </form>
</dialog>

<style>
    dialog::backdrop{
        backdrop-filter: blur(2px);
        transition: backdrop-filter 0.5s ease-in-out;
    }

    dialog[open]{
        animation: fadeIn 0.1s ease-in-out;
    }

    dialog.hide{
        animation: fadeOut 0.1s ease-in-out;
    }

    @keyframes fadeIn{
        from{
            opacity: 0;
            scale: 0;
        }
        to{
            opacity: 1;
            scale: 1;
        }
    }

    @keyframes fadeOut{
        from{
            opacity: 1;
            scale: 1;
        }
        to{
            opacity: 0;
            scale: 0;
        }
    }

</style>