---
import ProfileIcon from '../components/ProfileIcon.astro';
---

<div class="sticky grid-container place-items-center p-4 align-middle">
    <div class="justify-self-start">
        <h2 class="text-4xl">Library</h2>
    </div>
    <div class="flex gap-8">
        <h3 class="page">Books</h3>
        <h3 class="page">AudioBooks</h3>
    </div>
    <div class="justify-self-end">
        <ProfileIcon />
    </div>
</div>

<style>
    h2{
        font-family: 'Eczar', serif;
    }

    h2, h3{
        color: var(--secondary-color);
    }

    h3.page{
        cursor: pointer;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        width:100vw;
    }

</style>