---
import ProfileIcon from '../components/ProfileIcon.astro';
---

<div class="sticky flex justify-between p-4">
    <div>
        <h2>Library</h2>
    </div>
    <div class="flex gap-2">
        <button class="btn btn-primary">Books</button>
        <button class="btn btn-primary">AudioBooks</button>
    </div>
    <div>
        <ProfileIcon />
    </div>
</div>