---
import Header from '../components/Header.astro';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/src/images/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script src="/src/scripts/script.js" defer></script>
		<title>Library</title>
	</head>
	<body>
		<Header />
        <slot />
	</body>
</html>